<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <title>TaDo</title>
    <meta name="description" content="GitHub" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="TaDo" />
    <meta property="og:description" content="GitHub" />
    <meta property="og:site_name" content="TaDo | GitHub" />
    <link href="/static/favicon.ico" rel="icon" />
    <link href="/manifest.json" rel="manifest" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.7.95/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.0.0-beta.3/vuetify.min.css" rel="stylesheet" />
    <style>[v-cloak] { display: none }</style>
  </head>
  <body>
    <div id="app">
      <v-app v-cloak>
        <v-content>
          <v-card flat>
            <v-card-title>
              <span class="title">TaDo</span>
              <v-spacer></v-spacer>
              <v-text-field
                append-icon="mdi-plus"
                label="Text"
                outline
                single-line
                hide-details
                v-model="a.c"
                @keyup.enter="myApp(0)"
                @click:append="myApp(0)"
              ></v-text-field>
            </v-card-title>
            <v-card-title>
              <v-text-field
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
                v-model="a.a"
              ></v-text-field>
            </v-card-title>
            <v-container fluid grid-list-xs>
              <v-data-iterator
                content-tag="v-layout"
                row wrap
                :items="b.a"
                :search="a.a"
                order-by
              >
                <v-flex slot="item" slot-scope="i" xs12 sm6 md3>
                  <v-card-text style="overflow: hidden" v-text="i.item.text"></v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="myApp(1, i.index)">
                      <v-icon>mdi-content-copy</v-icon>
                    </v-btn>
                    <v-btn icon @click="myApp(2, i.index)">
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn icon @click="myApp(3, i.index)">
                      <v-icon>mdi-delete</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-flex>
              </v-data-iterator>
            </v-container>
          </v-card>
        </v-content>
      </v-app>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.0.0-beta.3/vuetify.min.js"></script>
    <script>
if ('serviceWorker' in navigator) addEventListener('load', () => navigator.serviceWorker.register('sw.js'));
let vuetify = new Vuetify();
let vm = new Vue({
  el: '#app', vuetify,
  data: {
    a: {
      a: '',
      b: [20, 100, 400],
      c: ''
    },
    b: {
      a: []
    }
  },
  mounted() {
    if (localStorage.getItem('b') !== null) {
      this.b = JSON.parse(localStorage.getItem('b'));
    }
  },
  methods: {
    myApp(x, y) {
      if (x === 0 && this.a.c.trim() !== '') {
        this.b.a.push({ text: this.a.c });
        localStorage.setItem('b', JSON.stringify(this.b));
      }
      if (x === 1) {
        this.a.c = this.b.a[y].text;
      }
      if (x === 2 && this.a.c.trim() !== '') {
        this.b.a.splice(y, 1, { text: this.a.c });
        localStorage.setItem('b', JSON.stringify(this.b));
      }
      if (x === 3) {
        this.b.a.splice(y, 1);
        localStorage.setItem('b', JSON.stringify(this.b));
        if (this.b.a.length === 0) {
          localStorage.removeItem('b');
        }
      }
    }
  }
});
    </script>
  </body>
</html>
